.section-two{
  background: linear-gradient(90.05deg, rgba($color-brown, 0.7) 0.03%, rgba($color-black, 0.7) 99.94%), url(../img/header-fon.jpg) center / cover no-repeat;
  padding: 21.6rem;
  //повернули секцию 
  transform: skewY(7deg);
  //все остальное что вложили в секцию вернули в нормальное положения
  & >*{
    transform: skewY(-7deg);
  }
}

.header-box {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba($color-brown, 0.7) 0.03%, rgba($color-black, 0.7) 99.94%), url(../img/sec-fon2.jpg) center / cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.section-three{
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.section-four{
  z-index: 2;
  position: relative;
  padding: 4rem 0rem 8rem 0;
}

.section-form{
  padding: 10rem;
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
}