.section-img {
  position: relative;
  @include funcAdapr2(phone-low) {
    margin-bottom: 55rem;
  }
  &__pict {
    position: absolute;
    width: 50%;
    border-radius: .5rem;
    //при иcпользование outline отступ от элемента
    outline-offset: 1rem;
    transition: .6s all;z-index: 3;
    &_s1 {
      top: 0rem;
      left: 0rem;
    }

    &_s2 {
      top: 9rem;
      left: 9rem;
    }

    &_s3 {
      top: 18rem;
      left: 18rem;
    }
    &:hover {
      outline: .3rem $color-dark-brown solid;
      z-index: 20;
      transform: scale(1.1);
    }

  }
  //вызываем через родителя картинку и уменьшаем элемент если он не в hover
  &:hover &__pict:not(:hover){
    transform: scale(0.88);
  }
}