* ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60.5%;
  @include funcAdapr2(big-screen){
    font-size: 75%;
  }
  @include funcAdapr2(tab-lend) {
    font-size: 50%;
  }
  @include funcAdapr2(tab-port) {
      font-size: 35%;
  }
  @include funcAdapr2(phone) {
    font-size: 30%;
  }
}

.container {
  background-color: $color-white;
  position: relative;
}