@mixin link-style($color) {
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

//псевдоэлемент для удаления с 2 сторон для float
@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}