$color-brown: #BA8554;
$color-dark-brown: #A14F03;
$color-grey: #777777;
$color-white: #FFFFFF;
$color-black: #000000;

//Отступы
$margin-vertical-big: 8rem ;
$grid-width: 114rem ;
$gutter-horizontal: 6rem;